*.iml
*~
.gradle
.gradle-files
/local.properties
/.idea/*
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.android
/.kotlin
/.bash_history
/manual/build
/manual/__pycache__/*
/manual/rst-outputs/*
/manual/json-outputs/*
/manual/help-text/generated
/manual/help-text/generated/svgs
/manual/help-text/logo.png
/app/src/main/assets/defaultimports/buttons.xsd
/manual/warnings.txt
/manual/help-text/__pycache__/*
/venv/*
GtEasyClock-*.pdf